{% extends 'medicin/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

  
{% block content %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">


<div class="grid_12">
  <div class="white-box">
    <div class="content-wrapper">
      <!-- Left Column (Image) -->
      <div class="image-column">
        <img src="{% static 'images/about.jpg' %}" alt="Herbal Garden" class="about-image">
      </div>
      <!-- Right Column (Text) -->
      <div class="text-column"><br><br><br>
        <h2>Welcome to the Virtual Herbal Garden </h2><br><br>
        <p>
          The Virtual Herbal Garden is an online platform providing information about various medicinal and culinary herbs. 
          Our goal is to educate people about the benefits of herbal plants, their uses, and how to cultivate them at home.
          Users can explore detailed descriptions of different herbs, including their medicinal properties, best growing conditions, and traditional uses. 
          Additionally, users can contribute by adding new herb details to our collection.Discover the power of nature with our Virtual Herbal Garden—a digital platform designed to provide valuable insights into the world of herbs. Whether you're an enthusiast, a student, or someone interested in herbal remedies, our website is your go-to resource for learning about medicinal and culinary plants.
        <br><br><br><br><br><br><br><br>
        </p>
       
      </div>
      </div>
      </div>
     {% endblock %}