{% extends 'medicin/base.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/contacts.css' %}">
{% endblock %}
  
{% block content %}

<div class="contact-container">
  <h2>Contact Us</h2>
  <div class="contact-info">
      <p><i class="fas fa-phone"></i> Phone: +91 6362532981</p>
      <p><i class="fas fa-envelope"></i> Email: <a href="mailto:virtualherbalgarden@gmail.com">vertualherbalgarden@gmail.com</a></p>
      <p><i class="fas fa-map-marker-alt"></i> Location: Uttara Kannada, India</p>
  </div>

  <div class="social-icons">
      <a href="https://www.instagram.com/virtual.herbal_garden?igsh=MWYwZG12bmQxYzNyag==" target="_blank"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/your_facebook" target="_blank"><i class="fab fa-facebook"></i></a>
      <a href="https://www.twitter.com/your_twitter" target="_blank"><i class="fab fa-twitter"></i></a>
  </div>

  <div class="contact-form">
      <h3>Send us a Message</h3>
      <form method="post" action="{% url 'contact_submit' %}">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Your Name" required>
        <input type="email" name="email" placeholder="Your Email" required>
        <textarea name="message" rows="4" placeholder="Your Message" required></textarea>
        <button type="submit">Send</button>
    </form>
  </div>
</div>
{% endblock %}