{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/slider.css' %}">
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.1.1.js' %}"></script>
<script src="{% static 'js/tms-0.4.1.js' %}"></script>
<script src="{% static 'js/jquery.carouFredSel-6.1.0-packed.js' %}"></script>
<script src="{% static 'js/jquery.touchSwipe.min.js' %}"></script>
<header>
  <div class="container_12">
    <div class="grid_12">
          <div class="grid_12">
      <div class="h_phone">Need Help? Call Us +91 6362532981</div>
      <h1><a href="{% url 'index' %}"><img src="{% static 'images/logo.png' %}" alt=""></a></h1>

      <div class="clear"></div>
    </div>
    
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="menu_block">
    <div class="container_12">
      <div class="grid_12">
      
        <nav class="">
        <ul class="sf-menu">
  <li {% if current_page == 'index' %}class="current"{% endif %}>
    <a href="{% url 'index' %}">Home</a>
  </li>
  <li {% if current_page == 'about' %}class="current"{% endif %}>
    <a href="{% url 'about' %}">About</a>
  </li>
  <li {% if current_page == 'herbs' %}class="current"{% endif %}>
    <a href="{% url 'herbs' %}">Herbs</a>
  </li>
  <li {% if current_page == 'add_herbs' %}class="current"{% endif %}>
    <a href="{% url 'add_herbs' %}">Add Herb</a>
  </li>
  <li {% if current_page == 'find_remidy' %}class="current"{% endif %}>
    <a href="{% url 'find_remidy' %}">Find Remedy</a>
  </li>
  <li {% if current_page == 'contacts' %}class="current"{% endif %}>
    <a href="{% url 'contacts' %}">Contacts</a>
  </li>
</ul>
        </nav>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</header>